<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div id="gray-bar">
			<div class="w-logo"></div>
		</div>
		<div class="align-left" id="left_header">
			<h1>
				<a href="http://www.sweepevents.com/">
				 <div id="full-logo"></div>
				</a>
			 </h1>
		</div>
		<!-- End of Left Header -->
		<div class="align-right" id="right-header">
			<ul>
				<a href="#product-section">
				<li class="yellow-button">
						Product
				</li>
				</a>
				<a href="#contact-section">
				<li class="yellow-button">
						Contact
				</li>
				</a>
				<a href="#about-section">
				<li class="yellow-button">
						About
				</li>
				</a>
			</ul>
		</div>
		<!-- End of Right Header -->
	</header>
<%= yield %>

</body>
</html>
