<!DOCTYPE html>
<html>
<head>
  <title>Landing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="align-left" id="left_header">
			<h1>
				<a href="http://www.sweepevents.com/">
		   		 <IMG SRC="logo_navy_transparent.png" ALT="Events Made Simple" WIDTH=200 HEIGHT=100 />
				</a>
			 </h1>
		</div>
		<!-- End of Left Header -->
		<div class="align-right" id="right_header">
			<ul>
			<a href="#">
			<li class="orange-button">
					About
			</li>
			</a>
			<a href="#">
			<li class="orange-button">
					Contact
			</li>
			</a>
		</ul>
		</div>
		<!-- End of Right Header -->
	</header>
  <!-- Logo Start -->
  <!--Logo End -->
  
  <!-- Site Nav Start -->  
  <!-- <DIV style="position: absolute; top: 10%; right: 5%; width: 200; height:       	   100">PRODUCT</DIV> -->
  <!-- <DIV style="position: absolute; top: 15%; right: 5%; width: 200; height:       	   100">CONTACT</DIV> -->
  <!-- <DIV style="position: absolute; top: 20%; right: 5%; width: 200; height:       	   100">ABOUT</DIV> -->
  <!-- <DIV style="position: absolute; top: 25%; right: 5%; width: 200; height:       	   100">EXTERNAL</DIV> -->
  <!-- Site Nav End -->	  

<%= yield %>

</body>
</html>
